*.js linguist-language=Jupyter Notebook
*.css linguist-language=Jupyter Notebook
*.html linguist-language=Jupyter Notebook
*.png linguist-language=Jupyter Notebook
*.jif linguist-language=Jupyter Notebook
*.h5 linguist-language=Jupyter Notebook
